label {
  display: inline-block;
  width: 120px;
  text-align: center;
}

input {
  width: 100px;
  padding: 5px;
}

select {
  width: 80px;
  padding: 5px;
}

.parameter {
  padding: 10px;
}

.label-button {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 5px;
}

.selected-result {
  color: white;
  background-color: blue;
}

.allowed-input {
  color: white;
  background-color: green;
}

.inline {
  display: inline-block;
}
