<div class="parameter">
  <label
    class="label-button"
    for="value"
    role="button"
    [ngClass]="{
      'selected-result': resultParameter && resultParameter.type === parameter.type,
      'allowed-input': calculationStrategy && resultParameter.strategy[calculationStrategy].includes(parameter.type)
    }"
    (click)="onResultParameterChange()"
  >
    {{parameter.description}}
  </label>
  <div class="inline" *ngIf="resultParameter">
    <input id="value" [(ngModel)]="parameter.value"
      [disabled]="resultParameter.type === parameter.type
      || !(calculationStrategy && resultParameter.strategy[calculationStrategy].includes(parameter.type))"
    >
    <select
      [disabled]="units.length === 1"
      (ngModelChange)="log($event)"
      [(ngModel)]="parameter.units"
    >
      <option *ngFor="let u of units" [ngValue]="u">{{u.name}}</option>
    </select>
  </div>
</div>
{{parameter.units.name}}{{parameter.value}}
