<div class="parameter">
  <label
    class="label-button"
    [for]="parameter.type"
    role="button"
    [ngClass]="{
      'selected-result': resultParameter && resultParameter.type === parameter.type,
      'allowed-input': calculationStrategy && resultParameter.strategy[calculationStrategy].includes(parameter.type)
    }"
    (click)="onResultParameterChange()"
  >
    {{parameter.description}}
  </label>
  <div class="inline" *ngIf="resultParameter">
    <input
      #myRef
      [id]="parameter.type"
      [ngModel]="value"
      (ngModelChange)="this.value = $event"
      [disabled]="resultParameter.type === parameter.type
        || !(calculationStrategy && resultParameter.strategy[calculationStrategy].includes(parameter.type))"
      (focus)="this.value = value"
    >
    <select
      [disabled]="units.length === 1"
      [(ngModel)]="parameter.units"
      (ngModelChange)="calculate()"
    >
      <option *ngFor="let u of units" [ngValue]="u">{{u.name}}</option>
    </select>
  </div>
</div>
